# Compiler files
cache/
out/

# Dependencies
lib/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast


# Dotenv file
.env

# Generated samples
samples/attestation.report
samples/proof.json
